.search-bar {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.catalog-container {
  /*border: 5px solid green;*/
  width: 80%; 
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  display: flex;
  /*border: 2px solid black;*/
}

.course-container {
  
  width: 90%;
  border: 3px solid gray;
  margin-bottom : 20px;
  margin-top : 20px; 
  background-color: rgb(205, 205, 205);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  min-height: 220px;
}

.course-container h3 {
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
}

.details-contianer{
  width: 95%; 
  
  /*align-items: center;*/
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  display: flex;
}

.course-container .description-container {
  width: 60%;
  height: 100%;
  margin-left: 0; 
  margin-top: 0; 
  /*border: 5px solid blue;*/
 
}

.course-container .extra-info-container {
  width: 25%;
  height: 100%;
  margin-right: 0; 
  margin-top: 0;
  margin-bottom: 0px;
  /*border: 5px solid blue;*/
}

.course-container h4 {
  align-self: left;
  align-self: top;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px; 
}

.course-container p {
  align-self: left;
  align-self: top;
  margin-top: 10px;
  margin-left: 30px;
}

.course-container div {
  margin-top: 10px;
  align-self: left;
  align-self: top;
  margin-left: 30px;
}

.filter-and-results-container {
  width: 100%;
  flex-direction: row;
  display: flex;
}

.filter {
  align-self: top;
  align-self: left;
  /*border: 5px solid blue;*/
  width: 20%;
  height: 300px; 
}
.filter h3 {
  margin-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.filter .filter-item {
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
}


.filter .filter-item input{
  width: 50px;
}

.filter div {
  margin-top: 0px;
  margin-bottom: 0px;
}